{% comment %} {% extends 'global/paginas/index_base.html' %} {% endcomment %}
{% load static %}

{% comment %} {% block gbl_bootstrap %}{% endblock gbl_bootstrap %}
{% block gbl_js %}{% endblock gbl_js %} {% endcomment %}

{% block app_css_js %}
    <link rel="stylesheet" href="{% static 'terrestre/css/estilos.css' %}">
{% endblock app_css_js %}

{% block app_titulo %}<h1>Terrestre</h1>{% endblock app_titulo %}

{% block app_menu %}
    {% include 'terrestre/parciais/header.html' %}
    {% include 'terrestre/parciais/footer.html' %}
{% endblock app_menu %}

{% block app_conteudo %}


    {% include 'terrestre/parciais/menu.html' %}


    


{% endblock app_conteudo %}