{% load static %}

 

<footer >
   
   


   <h2> 10. Tubarão branco</h2><br>
   <img src="{% static 'aquaticos/imgs/tubarao.jpg' %}" width=500px><br>



Tamanho: 6 metros
Nome científico: Carcharodon carcharias
Onde pode ser encontrado: Todos os oceanos

O temido tubarão branco tem peso médio de duas toneladas, cerca de 300 dentes bastante afiados e um excelente olfato! Esses animais são responsáveis por metade dos ataques feitos aos humanos. Suas presas preferidas, entretanto, são leões marinhos, algumas baleias e tartarugas. Um fato curioso é que os tubarões brancos podem detectar uma gota de sangue em 94 litros de sangue! Que medo!<br>

    <br>
    <h2>9. Raia manta</h2><br>
    <img src="{% static 'aquaticos/imgs/raia-manta.jpg' %}" width=500px><br>

    
    
    Tamanho: 8,8 metros
    Nome científico: Manta birostris
    Onde pode ser encontrada: Todos os oceanos. Preferência para mares tropicais, com água mais quente
    
    Registrada como a maior das raias, essa espécie é ainda um dos maiores entre todos os animais dos mares. Também conhecida como raia jamanta ou manta gigante, ela pode chegar até aos quase 9 metros de comprimento. São considerados animais muito inteligentes e por causa das suas duas barbatanas em forma de chifre são muitas vezes referidas como "peixe-diabo" ou "raia-diabo".<br>
    <h2> 8. Orca</h2><br>
    <img src="{% static 'aquaticos/imgs/orca.jpg' %}" width=500px><br>


Tamanho: 9,7 metros
Nome científico: Orcinus orca
Onde pode ser encontrada: Todos os oceanos

A orca é da família dos golfinhos e conhecida popularmente como "baleia assassina" por ser uma grande predador, se alimentando de peixes, pinguins, focas e até de outras baleias. Esses animais emitem sons que viajam debaixo d'água e os ajudam a encontrar suas presas
    
   <h2> 7. Tubarão baleia</h2><br>
   <img src="{% static 'aquaticos/imgs/tubarao-baleia.jpg' %}" width=500px><br>



Tamanho: 12 metros
Nome científico: Rhincodon typus
Onde pode ser encontrado: Mares tropicais, com água mais quente

Apesar de ser chamado de tubarão baleia, esse animal é um peixe e não um mamífero. O tubarão baleia, terceiro maior gigante dos mares, é também o maior tubarão do mundo, podendo chegar aos 12 metros de comprimento e 20 toneladas. Apesar do tamanho impressionante, os tubarões baleia não são predadores ferozes, mas considerados animais dóceis, que se alimentam de pequenos camarões, peixes e plâncton.
    
    
    <h2>6. Lula colossal</h2><br>
   <img src="{% static 'aquaticos/imgs/lula-colossal.jpg' %}" width=500px><br>




Tamanho: 14 metros
Nome científico: Mesonychoteuthis hamiltoni
Onde podem ser encontrada: Antártida

Esses animais podem chegar aos 150 quilos e são considerados predadores temíveis devido aos 25 ganchos que carregam na ponta de seus tentáculos! Seus olhos são enormes, os maiores dentre os animais! Medem cerca de 25 centímetros de diâmetro e estão sempre de olho em tudo!
|<h2>5. Regaleco</h2><br>
V<img src="{% static 'aquaticos/imgs/regaleco.jpg' %}" width=500px><br>





Tamanho: 17 metros
Nome científico: Regalecus glesne
Onde pode ser encontrado: Oceano Atlântico e Mar Mediterrâneo

Esse peixe bem esquisito habita águas bastante profundas, por isso não é fácil vê-lo por aí nas superfícies dos mares. Com 17 metros de comprimento eles podem pesar até 270 quilos! São conhecidos também por "rei dos arenques", por parecerem uma versão gigante desses peixinhos. Essas criaturas do mar não possuem escamas e apesar de parecerem bastante aterrorizantes, não são um perigo para os seres humanos.

<h2>4. Baleia cachalote</h2><br>
<img src="{% static 'aquaticos/imgs/baleia-cachalote.jpg' %}" width=500px><br>




Tamanho: 18 metros
Nome científico: Physeter macrocephalus
Onde pode ser encontrada: Todos os oceanos

A baleia cachalote, espécie que inspirou o livro Moby Dick, é conhecida por sua cabeça enorme e arredondada. Esses animais têm cerca de 18 metros de comprimento e chegam a pesar 45 toneladas. Seus cérebros são os maiores do mundo e eles são conhecidas também pelo alto som que fazem para se comunicarem debaixo d'água.

<h2>3. Baleia comum</h2><br>
<img src="{% static 'aquaticos/imgs/baleia.jpg' %}" width=500px><br>


Tamanho: 27 metros
Nome científico: Balaenoptera physalus
Onde podem ser encontrada: Todos os oceanos

Conhecida popularmente como baleia comum (ou baleia-fin), a espécie Balaenoptera physalus é a segunda maior dos mares. As fêmeas podem chegar a 25 metros de comprimento e os machos a 27. As baleias comuns, que pesam em torno de 70 toneladas, vivem em todos os oceanos do mundo, porém hoje são vistas com muito menos frequência devido a caça a esse animal no passado. Estima-se que entre 1904 e 1979 cerca de 750,000 baleias desse tipo tenham sido mortas só no hemisfério sul.

<h2>2. Baleia azul</h2><br>
<img src="{% static 'aquaticos/imgs/baleia-azul.jpg' %}" width=500px><br>



Tamanho: 30 metros
Nome científico: Balaenoptera musculus
Onde pode ser encontrada: Todos os oceanos

Se consideradas as dimensões totais, a baleia azul sem dúvida fica com o pódio dos maiores gigantes dos mares! Com cerca de 30 metros de comprimento, ela pesa em média 150 toneladas. Seus órgãos também são enormes. Seu coração, por exemplo, considerado o maior do mundo, pesa 180 kg e o volume de seu pulmão pode chegar a 5,000 litros! A baleia azul é uma espécie que também pode ser encontrada em todos os oceanos. Mas a notícia triste é que, por ter sido forte alvo de caça nos anos 80, esses animais ainda hoje correm risco de extinção.

<h2>1. Água-viva-juba-de-leão</h2><br>
<img src="{% static 'aquaticos/imgs/agua-viva-juba-de-leao.jpg' %}" width=500px><br>




Tamanho: 36 metros
Nome científico: Cyanea capillata
Onde pode ser encontrada: Oceano Ártico e Pacífico Norte

É isso mesmo que você leu! O maior animal do mares em termos de comprimento é uma água-viva! Isso porque os fios dos seus tentáculos, que parecem formar uma juba, podem atingir até 36 metros. Cada água-viva dessa espécie pode ter até 1500 tentáculos, sendo eles divididos em oito grupos diferentes. Um fato curioso é que a juba desse animal produz sua própria luz e brilha debaixo d'água.
</footer>