{% load static %}
<footer>
   <h2> 10. Tubarão branco</h2><br>
   <img src="{% static 'aquaticos/imgs/tubarao.jpg' %}" width=500px><br>

Tubarão branco_Mariores e Melhores

Tamanho: 6 metros
Nome científico: Carcharodon carcharias
Onde pode ser encontrado: Todos os oceanos

O temido tubarão branco tem peso médio de duas toneladas, cerca de 300 dentes bastante afiados e um excelente olfato! Esses animais são responsáveis por metade dos ataques feitos aos humanos. Suas presas preferidas, entretanto, são leões marinhos, algumas baleias e tartarugas. Um fato curioso é que os tubarões brancos podem detectar uma gota de sangue em 94 litros de sangue! Que medo!<br>

    <br>
    <h2>9. Raia manta</h2><br>
    <img src="{% static 'aquaticos/imgs/raia-manta.jpg' %}" width=500px><br>

    Raia manta_Mariores e Melhores
    
    Tamanho: 8,8 metros
    Nome científico: Manta birostris
    Onde pode ser encontrada: Todos os oceanos. Preferência para mares tropicais, com água mais quente
    
    Registrada como a maior das raias, essa espécie é ainda um dos maiores entre todos os animais dos mares. Também conhecida como raia jamanta ou manta gigante, ela pode chegar até aos quase 9 metros de comprimento. São considerados animais muito inteligentes e por causa das suas duas barbatanas em forma de chifre são muitas vezes referidas como "peixe-diabo" ou "raia-diabo".<br>

    <br>3. Rinoceronte branco Peso médio do animal: 2.350 kg <br>
    <img src="{% static 'aquaticos/imgs/Rinocerontebranco.jpeg' %}" width=500px><br>
    <br>4. Hipopótamo Peso médio do animal: 2.500 kg <br>
    5. Gauro (bisão indiano) Peso médio do animal: 1.600 kg <br>
    7. Morsa Peso médio do animal: 1.200 kg <br>
    8. Rinoceronte preto
</footer>