{% load static %}
<footer >


   <h2> 10. Tubarão branco</h2><br>
   <img src="{% static 'aquaticos/imgs/tubarao.jpg' %}" width=500px><br>

Tubarão branco_Mariores e Melhores

Tamanho: 6 metros
Nome científico: Carcharodon carcharias
Onde pode ser encontrado: Todos os oceanos

O temido tubarão branco tem peso médio de duas toneladas, cerca de 300 dentes bastante afiados e um excelente olfato! Esses animais são responsáveis por metade dos ataques feitos aos humanos. Suas presas preferidas, entretanto, são leões marinhos, algumas baleias e tartarugas. Um fato curioso é que os tubarões brancos podem detectar uma gota de sangue em 94 litros de sangue! Que medo!<br>

    <br>
    <h2>9. Raia manta</h2><br>
    <img src="{% static 'aquaticos/imgs/raia-manta.jpg' %}" width=500px><br>

    Raia manta_Mariores e Melhores
    
    Tamanho: 8,8 metros
    Nome científico: Manta birostris
    Onde pode ser encontrada: Todos os oceanos. Preferência para mares tropicais, com água mais quente
    
    Registrada como a maior das raias, essa espécie é ainda um dos maiores entre todos os animais dos mares. Também conhecida como raia jamanta ou manta gigante, ela pode chegar até aos quase 9 metros de comprimento. São considerados animais muito inteligentes e por causa das suas duas barbatanas em forma de chifre são muitas vezes referidas como "peixe-diabo" ou "raia-diabo".<br>
    <h2> 8. Orca</h2><br>
    <img src="{% static 'aquaticos/imgs/orca.jpg' %}" width=500px><br>

Orca_Maiores e Melhores

Tamanho: 9,7 metros
Nome científico: Orcinus orca
Onde pode ser encontrada: Todos os oceanos

A orca é da família dos golfinhos e conhecida popularmente como "baleia assassina" por ser uma grande predador, se alimentando de peixes, pinguins, focas e até de outras baleias. Esses animais emitem sons que viajam debaixo d'água e os ajudam a encontrar suas presas
    
   <h2> 7. Tubarão baleia</h2><br>
   <img src="{% static 'aquaticos/imgs/tubarao-baleia.jpg' %}" width=500px><br>

Tubarão baleia_Maiores e Melhores

Tamanho: 12 metros
Nome científico: Rhincodon typus
Onde pode ser encontrado: Mares tropicais, com água mais quente

Apesar de ser chamado de tubarão baleia, esse animal é um peixe e não um mamífero. O tubarão baleia, terceiro maior gigante dos mares, é também o maior tubarão do mundo, podendo chegar aos 12 metros de comprimento e 20 toneladas. Apesar do tamanho impressionante, os tubarões baleia não são predadores ferozes, mas considerados animais dóceis, que se alimentam de pequenos camarões, peixes e plâncton.
    <br>4. Hipopótamo Peso médio do animal: 2.500 kg <br>
    5. Gauro (bisão indiano) Peso médio do animal: 1.600 kg <br>
    7. Morsa Peso médio do animal: 1.200 kg <br>
    8. Rinoceronte preto
</footer>