{% load static %}

 

<footer >
   <h2> 10.Águia real (Aquila chrysaetos) – Envergadura 2.5 m </h2><br>
   <img src="{% static 'voadores/imgs/aguia-real.jpg' %}" width=500px><br>
 
   As águias reais são majestosas caçadoras e poderosas do Hemisfério Norte, tornando-se uma das maiores águias do mundo. Embora estas sejam poderosas o suficiente
    para matar um veado grande, elas na maioria das vezes caçam pequenos mamíferos, como coelhos, esquilos da terra, e cães de pradaria. 

    <h2> 9.Grou-coroado-oriental (Balearica regulorum) – </h2> 
    <br>
    <img src="{% static 'voadores/imgs/Grou-coroado.png' %}" width=500px><br>
  
    Envergadura 2.5 m Grou-coroado-oriental entre os maiores passaros do mundo Este pássaro é um habitante das savanas secas da África. Eles têm uma exposição de corte elaborada que envolve a dança, curvatura e saltos. Um pássaro elegante que é apenas encontrado no sul do deserto do Saara. 

    <h2>8.Condor-da-califórnia – (Gymnogyps californianus) – </h2>
    <br>
    <img src="{% static 'voadores/imgs/condor-da-california.png' %}" width=500px><br>
  
    Envergadura 2.8 m condor-da-california entre os maiores passaros do mundo Esta ave é um dos pássaros mais raros do mundo. Infelizmente, está à beira da extinção, contudo, elas estão agora lentamente e progressivamente aumentando em quantidade com a ajuda de alguns programas excelentes de reprodução em cativeiro. 

    <h2>7.Abutre-fouveiro – (Gyps fulvus) – Envergadura 2.8 m </h2>
    <br>
    <img src="{% static 'voadores/imgs/Abutre-fouveiro.png' %}" width=500px><br>
    Abutre-fouveiro entre os maiores passaros do mundo Este é um abutre compacto que mede mais de 3 pés do bico à cauda. E caça carniça voando alto pelo céu, individualmente ou em grupos grandes. Estes pássaros habitam as partes montanhosas do sul da Europa, Norte da África e Ásia. E procria em bordas de penhasco alto. 
    
    <h2>6.Abutre-barbudo – (Gypaetus barbatus) – Envergadura 2.99 m </h2>
    <img src="{% static 'voadores/imgs/Abutre-barbudo.png' %}" width=500px><br>
    Abutre-barbudo entre os maiores passaros do mundo Esta é uma espécie majestosa e compacta, e ao contrário da maioria dos abutres, esta espécie não possui a característica de cabeça careca. Habita os penhascos nas altas montanhas da Europa, Índia, Paquistão, África e Tibet. E como a maioria dos abutres, eles comem principalmente carniça que localizam pela visão enquanto estão voando alto pelos céus. 

    <h2>5.Cisne-bravo – (Cygnus cygnus) – Envergadura 3 m </h2>
    <img src="{% static 'voadores/imgs/Cisne-bravo.png' %}" width=500px><br>
    Cisne-bravo entre os maiores passaros do mundo Este pássaro pode voar centenas de milhas para chegar aos locais de reprodução no subártico da Eurásia. Estes pássaros são poderosos voadores, apesar do peso de 8-20 kg. E apresentam uma ligação muito profunda entre as de suas espécies. É difícil não notar um deles durante o vôo. 

    <h2>4.Condor-dos-andes – (Vultur gryphus) – Envergadura 3.4 m </h2>
    <img src="{% static 'voadores/imgs/condor-dos-andes.png' %}" width=500px><br>
    condor-dos-andes entre os maiores passaros do mundo Trata-se de pássaro magnífico, estes abutres pesados passam os dias subindo em correntes ascendentes nas montanhas andinas da América do Sul. A maioria de sua dieta consiste de carniça, mas ao contrário da maioria dos abutres, estes pássaros matarão de pequenos a médios mamíferos também. Eles não atingem a maturidade até alcançar os 8 anos de idade, e podem viver de 50 a 60 anos em estado selvagem. Os machos são maiores que as fêmeas e podem pesar mais de 13 kgs.

    <h2>3.Marabu – (Leptoptilos crumeniferus) – Envergadura 3.4 m</h2>
      <img src="{% static 'voadores/imgs/marabu-entre.png' %}" width=500px><br>
       marabu entre as maiores especies de passaros do mundo Estes pássaros impressionantes habitam lugares úmidos e áridos do sul do Saara. Podem pesar até 10 kgs, e atingir uma altura de 1.52 m. Embora tenham costume de comer carniça, também se alimentam de pequenos mamíferos, aves e filhotes.
       
       <h2>2.Pelicano-branco – (Pelecanus onocrotalus) – </h2>
       <img src="{% static 'voadores/imgs/Pelicano-branco.png' %}" width=500px><br>
       Envergadura 3.6 m Pelicano-branco entre as maiores espécies de pássaros do mundo Estes são pássaros grandes e distintos que habitam o leste do Mediterrâneo para Vietnã e África do Sul. E como todos os pelicanos, estas aves são adaptadas para vida aquática. Eles têm pés palmados e se alimentam com muitos peixes diariamente, mas como a maior parte das aves, são alimentadoras oportunistas. E são conhecidos por formar grandes agregações, a incluir uma colônia de cerca de 75.000 na Tanzânia. 

       <h2>1.Albatroz-errante – Diomedea exulans – Envergadura 3.6 m</h2>
       <img src="{% static 'voadores/imgs/Albatroz-Errante.png' %}" width=500px><br>
        Albatroz-errante entre as maiores espécies de pássaros Estes são pássaros incríveis e majestosos, eles passam suas vidas inteiras no mar e apenas vêm para terra, para reproduzir a cada dois anos. O albatroz-errante é posição líder na seleção das 10 maiores espécies de pássaros do mundo. Eles procriam em Georgia Island do Sul, Crozet Islands, Kerguelen Islands, entre outros. Embora o maior relatório tenha confirmado tamanho de 3.6 metros, já houve relatos de envergaduras tão grandes quanto 5 metros. As asas longas habilitam estes pássaros a deslizar com facilidade sobre o oceano por horas, em período sem bater as asas. E o comprimento do corpo pode chegar próximo a 1.5 m. 
 </footer>