{% comment %} {% extends 'global/paginas/index_base.html' %} {% endcomment %}
{% load static %}

{% block glb_bootstrap %}{% endblock glb_bootstrap %}
{% block glb_js %}{% endblock glb_js %}

{% comment %} {% block app_css_js %}
    <link rel="stylesheet" href="{% static 'aquaticos/css/estilos.css' %}">
{% endblock app_css_js %} {% endcomment %}

{% block app_titulo %} {% endblock app_titulo %}

{% block app_menu %} 
    {% include 'aquaticos/parciais/header.html' %}
    {% include 'aquaticos/parciais/footer.html' %}
    {% include 'aquaticos/parciais/menu.html' %}
{% endblock app_menu %}

{% block app_conteudo %}
    <p>eu sou um coteudo sendo carregado do arquivo<br>/aquaticos/templates/aquaticos/paginas/index.html</p>
{% endblock app_conteudo %}